*{
    font-family: 'Times New Roman', Times, serif;
}


body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    background-image: url(../Screenshoot/sample-pattern.png);
}

.navbar {
    margin-top: -31px;
    width: 100%;
    background-color: rgb(247, 247, 247);
    overflow: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
}

.navbar a {
    float: left;
    padding: 12px;
    color: rgb(136, 133, 133);
    text-decoration: none;
    font-size: 17px;
    transition: .5s;
    margin-left: 5px;
    float:right;
}

.navbar a:hover {
    background-color: rgb(206, 203, 203);
    color: #000 !important;
    transition: .5s;
    border-radius: 15px;
}

.active {
    background-color: #000;
    color: #ffff !important;
    margin-right: 20px;
    border-radius: 15px;
}

.logo{
    margin-left: 20px;
    margin-top: 8px;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.line-h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 80px;
}

.container{
    width: 70%;
    background-color: white;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 100px;
}

.contents{
    margin: 35px 25px 35px 25px;
}

.contents p{
    text-align: justify;
}

.contents h3{
    color: #0d6efd;
}
hr{
    border: 0;
    border-top: 1px solid lightgrey;
}

.footer{
    background-color: #000;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}